.correct {
  font-weight: bold;
  color:green;
  /* background-color: rgb(148, 148, 255); */
}
.incorrect{
  font-weight: bold;
  color:red;
 
}
.active{
  font-weight: bold;
}
.box{
 border-style:1px solid green ;

}
div{
  padding: 30px;
 
}
h1{
  text-align:center;
  font-family: Times New Roman, serif;
        
        color: rgb(45, 243, 250);
        /* background: linear-gradient( #dcdde9, #1b999c); */
        text-shadow: 0.041em 0.041em #cdcdcd;
}
.ip{
 text-align:center;
background-color: rgb(223, 233, 179);
 height: 5vh;
 color: rgb(0, 0, 0);
 width: 25vh;
 
}
.i{
  text-align:center;
} 